<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>GOES-Primary Data: X-ray flares</title>
   <link rel="stylesheet" href="goes.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body style="width:95%;margin-left:10px; margin-right;10px;background-color:#FAEBD7;font-family:Georgia, "Times New Roman", Times, serif">

<div style='float:right;'>
<a href="../../sot.html">SOT home page</a>
<br />
<a href="../index.html">Radiation Main Page</a>
</div>

<h2 style='margin-left:auto;margin-right:auto;'>REALTIME GOES-Primary OBSERVATIONS: X-ray flares</h2>
<br>

<div id="xray_container">
   <div id="tablediv">
   {{ data_table }}
   </div>
   <div id="mapdiv" style='text-align:center;padding-top:10px;padding-bottom:10px;'>
      <img src="./Media/synoptic-map.jpg" style="margin-left:auto;margin-right:text-align:center;auto;width:6.75in;">
   </div>
</div>
<br>
<hr>

<div id="coronagraph">
   <video width="1204" height="1204" controls>
   <source src="./Media/ccor1_last_7_days.mp4" type="video/mp4">
   Your browser does not support the video tag.
   </video> 
</div>

<hr>

<hr>
<div style='float:right;'>
<a href="../../sot.html">Back to the SOT home page</a>
<br />
<a href="../index.html">Back to Radiation Main Page</a>
</div>
<a href="https://www.swpc.noaa.gov/">
<img alt="Space Environment Center" src="../Logos/ssel.gif">
<br />
Space Environment Center
</a>

<hr />
<p style='padding-top:10px;padding-bottom:20px;'>
<a href="mailto:swolk@cfa.harvard.edu">Email problems to: Scott Wolk</a>
(<a href="https://hea-www.harvard.edu/~swolk/">Scott Wolk</a>) <br />
...it is all his fault <br />
</p>

<script type="text/javascript">
   setTimeout('location.reload()',100000);

    $(document).ready(function () {
        $('#flare_table').DataTable();
    });
</script>

</body>
</html>

